<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      
      <image
            category="liferay.plugins"
            facet="liferay.theme"
            path="icons/e16/theme.png">
      </image>
      
   </extension>
   <extension
         point="com.liferay.ide.core.liferayProjectAdapters">
      <liferayProjectAdapter
            class="com.liferay.ide.theme.ui.ThemeFreemarkerEditorAdapter"
            id="com.liferay.ide.theme.ui.themeFreemarkerEditorAdapter">
      </liferayProjectAdapter>
   </extension>
</plugin>
